@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Mooli', sans-serif;
    justify-content: center;
    background-color: beige;
    background-repeat: no-repeat;
}

header {
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

section {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


/* Inicio do MENU */
#box {
    float: left;
    padding: 0px 90px 0px 90px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    height: 10px;
    width: 100px;
}

#box:hover {
    background-color: rgba(100, 241, 241, 0.267);
}

a {
    text-align: center;
}

.traco {
    text-decoration: none;
    color: white;
    border: 1px solid rgb(100, 241, 241);
    background-color: rgba(100, 241, 241, 0.678);
    padding: 80px;
    margin: 0;
    width: 50px;
    height: 30px;
}

#menu {
    float: right;
    margin-right: 10%;
    list-style: none;
}

/*Fim do MENU */


/*Inicio da Apresentação*/
.perfil{
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 0;
    margin-bottom: 5px;
}

.imagem {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    flex-direction: column;
    margin-left: 39%;
}

.imagem img {
    border-radius: 15px;
    margin-top: 100px;
    padding: 0;
}

.nome {
    font-size: 32px;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(40, 48, 48, 0.534);
    width: 500px;
    height: 100px;
    margin-left: 31%;
}

.curriculo {
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    padding: auto;
    margin: auto;
}

.item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 22px;
    width: 400px;
    height: 50px;
    margin-bottom: 1px;
    border-radius: 50px;
    border: 1px solid rgba(100, 241, 241, 0.678);
    background: rgba(0, 0, 0, 0.322);
}

a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    letter-spacing: 1px;
}

.item:hover {
    background: rgba(100, 241, 241, 0.678);
    transition: 0.2s;
    border-radius: 50px;

}
/*Fim da Apresentação*/

/*Inicio da Animação das Redes Sociais*/
.redes-sociais {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.icones {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 30px;
    margin: 3px;
    overflow: hidden;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.icones i {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgba(0, 7, 0, 0.514);
    color: rgba(100, 241, 241, 0.678);
}

.icones span a {
    text-decoration: none;
    float: right;
    margin-right: 23px;
    font-weight: 100;
    font-size: 17px;
    line-height: 35px;
}

.icones:hover {
    width: 125px;
    background-color: rgba(171, 241, 218, 0.87);
    border-radius: 20px;
}
/*Fim da Animação das Redes Sociais*/

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    line-height: 23px;
    letter-spacing: 1px;
    padding: 1.5rem 2rem;
    border-radius: 24px;
    font-size: 16px;
    margin-top: 2%;
    margin-left: 15%;
    width: 900px;
    height: 350px;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.322);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.329);
    cursor: pointer;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.5px;
    margin: 0;
    padding: 20px;
    font-weight: 600;
    color: rgba(40, 48, 48, 0.534);
}

.topico {
    margin: 20px;
    margin-left: 40%;
    text-align: center;
    padding: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.langs {
    margin-top: 20px;
}

.html,
.css, 
.js {
    width: 80px;
    height: 80px;
    padding: 10%;
    margin: 1%;
    margin-left: 60px;
    margin-right: 20px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    float: left;
    background-color: rgba(255, 255, 255, 0.726);
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid rgba(100, 241, 241, 0.678);
    cursor: pointer;
}

/*Projetos*/
.card-wrapper h2 {
    color: rgba(0, 0, 0, 0.815);
    font-size: 0px;
    text-transform:uppercase;
    letter-spacing: 2px;
    margin: 0;
    transition: 0.5s ease-in-out;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
}

.card-wrapper p a {
    font-size: 0px;
    visibility: visible;
    text-decoration: none;
    opacity: 0;
    font-weight: bold;
    text-transform: none;
    transition: 0.5s ease-in-out;
}

.container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1.5rem 0;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.card-1 {
    width: 130px;
    padding: 120px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/cardapio.png);
    background-color: rgba(255, 255, 255, 0.514);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: rgb(25, 0, 255);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.card-2 {
    width: 130px;
    padding: 120px;
    border-radius: 100%;
    margin: 1rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/mulherinspiradora.png);
    background-color: rgba(255, 255, 255, 0.514);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: rgb(25, 0, 255);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.card-3 {
    width: 130px;
    padding: 120px;
    border-radius: 100%;
    margin: 1rem 0 0;
    display: flex;
    align-items: center;
    justify-content:center;
    background-image: url(./img/ods.png);
    background-color: rgba(255, 255, 255, 0.514);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: rgb(25, 0, 255);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.card-1:hover,
.card-2:hover,
.card-3:hover {
    filter: unset;
}

.card-text {
    width: 50%;
    letter-spacing: 1px;
    text-align: justify;
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid rgb(47, 0, 255);
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-1:hover > .card-wrapper::before,
.card-2:hover > .card-wrapper::before,
.card-3:hover > .card-wrapper::before {
    height: 200px;
    width: 200px;
    opacity: 1;
}

.card-1:hover > .card-wrapper p a,
.card-2:hover > .card-wrapper p a,
.card-3:hover > .card-wrapper p a {
    opacity: 1;
    visibility: visible;
    font-size: 21px;
    color: black;
    overflow: hidden;
}

.card-1:hover > .card-wrapper h2,
.card-2:hover > .card-wrapper h2,
.card-3:hover > .card-wrapper h2 {
    opacity: 1;
    visibility: visible;
    font-size: 31px;
}

.projetos {
    margin-top: 40px;
    flex-direction: column;
    margin: auto;
    padding: 0;
}
/* Fim de Projetos*/

/* Inicio do Formulário */
.formulario {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-right: 1rem;
    padding-left: 1rem;
}

.inicio {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 45px;
    font-weight: 600;
    color: rgba(40, 48, 48, 0.534);
    line-height: 1.2;
}

.inicio::before {
    content: "📧";
    display: block;
}

.form {
    width: 100%;
    max-width: 32rem;
    font-size: 1.125rem;
}

.form label,
.form input,
.form textarea,
.form button {
    display: block;
    width: 100%;
}

.form label {
    color: rgba(40, 48, 48, 0.534);
    line-height: 1;
    margin-bottom: 0.5rem;
}

.form input,
.form textarea {
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s;
}

.form textarea {
    min-height: 13rem;
    resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover, 
.form textarea:focus {
    outline: none;
    border-color: rgba(100, 241, 241, 0.678);
    box-shadow: 0 0 0 3px rgba(100, 241, 241, 0.678);
}

.form textarea input::placeholder {
    opacity: 0.8;
    font-weight: 100;
}

.form button {
    width: 540px;
    display: block;
    padding: 1rem;
    box-shadow: 0 5px 5px rgba(100, 241, 241, 0.151);
    background: rgba(0, 0, 0, 0.329);
    color: rgb(255, 255, 255);
    font: inherit;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.form button:hover,
.form button:focus{
    outline: none;
    background: rgba(100, 241, 241, 0.678);
}
/*Fim do Formulário */

footer {
    font-size: 22px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 50px;
    height: 20px;
    width: 95%;
    color: black;
    background-color: rgba(100, 241, 241, 0.322);
}

@media all and (max-width: 768px) {
    #menu {
        visibility: hidden;
    }

    .nome, 
    .imagem {
        align-items: center;
        display: flex;
        width: 80%;
        padding: 0;
        margin: 10px auto;
        float: none;
    }

    .item a,
    .curriculo {
        float: none;
    }

    .card-container,
    .langs,
    .html,
    .css, 
    .js,
    .h1,
    .projetos {
        display: flex;
        width: auto;
        height: auto;
        margin: auto;
        padding: auto;
        justify-content: center;
        align-items: center;
    }

    img .js,
    img .html,
    img .css {
        width: 30%;
    }

    .formulario {
        padding: 1%;
        margin: 2%;
        width: 100%;
        height: 100%;
    }

    .sobre {
        padding: 30px;
        width: 75%;
        height: 50%;
        margin: auto;
        margin-left: 5.5%;
        margin-right: 2%;
        align-items: center;
        justify-content: center;
    }

    .redes-sociais {
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: auto;
        width: auto;
        height: auto;
    }

    .header-container {
        margin-bottom: -1;
        padding-bottom: -1;
    }

    .container{
        width: auto;
        padding: auto;
        margin: auto;
        height: auto;
        align-items: center;
        justify-content: center;
    }
}